#cloud-config
# vim: syntax=yaml
#
# ***********************
# 	---- for more examples look at: ------
# ---> https://cloudinit.readthedocs.io/en/latest/topics/examples.html
# ******************************
#
# This is the configuration syntax that the write_files module
# will know how to understand. encoding can be given b64 or gzip or (gz+b64).
# The content will be decoded accordingly and then written to the path that is
# provided.
#
# Note: Content strings here are truncated for example purposes.
# se debe reamplazar jorge por su nombre de dominio del anterior modulo sin el .com
ssh_pwauth: True
chpasswd:
  list: |
     root:sesamo
  expire: False

users:
  - name: rolypacsi # Change me (nombre del dominio sin .com)
    ssh_authorized_keys:
    - ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQDLEbwzyCgn+Z7x3XtuA6y0qljN50WgbLe4cOH5C2SdZW945cOHq09gJLG8JtByN23tbm+9ZHAWcBtMxPdF6Lpk4VONkaL14RQFh2APhyWZHj5ksUEfXs9BRDaQaqPtSE+gnSnz1giW8yFSQiQerDHYbHLxOYPxtb8FffHtlECfWzvr9tX459eRaXe6xzgY5PzKW1kJq3Yf0ZILfXbjFIFPJbWVSg4otqqvNjWqSCCjyxuOkvqWyUrJTdZmJP6yxdjWBK8ObcxlJ1TS//f5LXQsbAuiY8YF49Acl1EO0iQbPWhT6Wt8CrYQJ3OJSU8S3z7dYd5pC61Y36R/Kqam+Lt6ubT+XWEEh01wOprmIYYcMSWGgmjy9pxmnuNor1pIL+BhhP9AowPiktCfxLtgi050Sn9NcqZbiZl9zPoUAJU/j+w1itjXviiMSd0dm96q0JbtVSUErdkKwcE9N6Rm/qCUeqbKC/59ynD7KOjaOtMgB90m/UOK0d3UOlg/CNRtRk0= roly@roly
    sudo: ['ALL=(ALL) NOPASSWD:ALL']
    shell: /bin/bash
    groups: sudo
